<form action="/landmarks" method="POST">
  <label>Name:</label>
  <br></br>
  <input type="text" name="landmark[name]" id="landmark_name">
  <br></br>

  <label>Year Completed:</label>
  <br></br>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed">
  <br></br>

    <input type="submit" value="Create New Landmark">
</form>
